<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'pronotes/img/notepad.png' %}"/>
    <link
      href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
    .text-all{
        font-family: 'Comfortaa', cursive;
    }
</style>
<center>
<h1 class="text-all">Your Work "{{ work }}" is deleted Successfully</h1>
    <a class="btn btn-primary" href="/">Go to Home</a>
</center>
<body>

    <script>
        localStorage.clear();
    </script>
    
</body>
</html>